<!--<h1>Rate My GSI</h1>-->
<!--<%= link_to "Reviews", reviews_path %>-->
<!--<br />-->
<!--<%= link_to "Courses", courses_path %>-->
<!--<br />-->
<!--<%= link_to "GSIs", gsis_path %>-->

<!--<%= image_tag("sather_gate_night.png", :alt => "rss feed", :size => '100x800') %>-->
<head>
	<%= stylesheet_link_tag "style" %>
</head>
<body>
  <section class="intro">
    <div class="inner">
      <div class="content">
        <h1>
          Rate my GSI
        </h1>
      </div>
    </div>
  </section>
</body>

