<h1>Edit GSI</h1>
<%= form_for @gsi do |f| %>
	<%= f.hidden_field :course_id %>
	<%= f.hidden_field :school %>
	<br />
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br />
	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
