<h1>GSI</h1>
<br />
<%= form_tag gsis_path, :method => 'get' do %>
	<p> 
    	<%= text_field_tag :search, params[:search] %>
    	<%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
  	</p>
<% end %>

<% @gsis.each do |gsi| %>
	<h5><%= link_to gsi.name, gsi %></h5>
	School: <%= gsi.school %>
	<%= link_to "edit", edit_gsi_path(gsi) %>
    <%= link_to "delete", gsi, :confirm => "Are you sure?", :method => :delete %>
    <br/>
<% end %>
