<div class='col-md-3'>
	<h1> <%= @gsi.name %> </h1>
	<p> <%= @gsi.school %> </p>
</div>
<div class='col-md-9'>
	<h1>Reviews</h1>
	<%= link_to "New Review", new_review_path(gsi_id: @gsi.id) %>
	<br />
	<% @gsi.reviews.each do |review| %>
		<h3><%= review.title %> (<%= review.rating %>)</h3>
		<%= review.body %>
		<p>Posted by <%= review.user.name%></p>
	<% end %>
</div>

