<h1>New Course</h1>
<%= form_for @course do |f| %>
	<%= f.label :subject %>
	<%= f.text_field :subject %>
	<br />
	<%= f.label :course_number %>
	<%= f.text_field :course_number %>
	<br />
	<%= f.label :school %>
	<%= f.text_field :school %>
	<%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>
