<div class="col-md-3">
	<h1><%= @course.subject %> <%= @course.course_number %></h1>
	<h3><%= @course.school %></h3>
	<br />
	<h2>GSIs</h2>
	<%= link_to "New GSI", new_gsi_path(courseid: @course.id, school:@course.school), class: "btn btn-primary"%>
	<br />
	<% @course.gsis.each do |gsi| %>
		<%= link_to gsi.name, gsi %>
		<br />
	<% end %>
</div>
<div class="col-md-9">
	<h2>Reviews</h2>	
	<% @course.reviews.each do |review| %>
		<h3><%= review.title %></h3>
		<p>posted by: <%= link_to review.user.name,review.user %></p>
		<p><%= review.body %></p>
		<br />
	<% end %>
</div>
