<div class="review_form center col-md-6 col-md-offset-3">
	<%= form_for @review do |f| %>
	<%= f.hidden_field :gsi_id, value: params[:gsi_id] %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br />	
	<%= f.label :body %>
	<%= f.text_area :body %>
	<br />
	<%= f.label :rating %>
	<%= f.number_field :rating %>
	<br />
	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>
